.contact-bg {
    background: url(../static/img/contact.jpg);
    /* background: rgba(0, 0, 0, 0.5) url(img/contact.jpg); */
    /* background-blend-mode: darken; */
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    align-items: center;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 41%;
    background: #0000005c;
    padding: 21px;
    border-radius: 10px;
}

.contact-head {
    color: white;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 14px 5px;
    text-shadow: 2px 3px 5px black;
    font-size: 27px;
}

.contact-box {
    display: flex;
    flex-direction: column;
    width: 95%;
    align-self: center;
    display: flex;
    flex-direction: row;
    height: 53px;
}

.contact-box input,
.contact-box textarea {
    height: 31px;
    margin: 4px 0px;
    color: white;
    background: none;
    border: none;
    border-bottom: 2px solid #ffffff;
    user-select: none;
    outline: none;
    width: 100%;
}

.contact-box input::placeholder,
.contact-box textarea::placeholder {
    color: white;
    opacity: 0.8;
}

.contact-box i {
    display: flex;
    align-items: flex-end;
    width: 25px;
    padding-bottom: 27px;
}

.submit-btn {
    width: 77px;
    height: 32px;
    background: #18009b9e;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    margin-left: 37px;
    cursor: pointer;
}

.submit-btn:hover{
    background-color: darkblue;
}